{% extends "@ContaoSchedule/template.list.html.twig" %}
{% block headline %}
    Kurs anlegen/bearbeiten
{% endblock %}

{% block liste %}
    {% set tr_class = 'even' %}
    {% for subject in subjects %}
        {% set tr_class = tr_class == 'even' ? 'odd' : 'even' %}
        <tr class="{{ tr_class }} click2edit toggle_select hover-row">
            <td class="tl_file_list"> {{ subject.name }}</td>
            <td class="tl_file_list tl_right_nowrap">
                <a href="{{ route }}?id={{ subject.id }}&_method=PUT" class="edit">
                    <img src="system/themes/flexible/icons/edit.svg" width="16" height="16" alt="Kurs [{{ subject.id }}] bearbeiten">
                </a>
                <a href="{{ route }}?id={{ subject.id }}&_method=DELETE" class="delete" onclick="if(!confirm('Soll dieser Kurs {{ subject.name }} wirklich gelöscht werden?')) return false;">
                    <img src="system/themes/flexible/icons/delete.svg" width="16" height="16" alt="Kurs [{{ subject.id }}] löschen">
                </a>
            </td>
        </tr>
    {% endfor %}
{% endblock %}


